#cancelliContainer {
  --slotColor: red;
  margin-top: var(--sizeConfig-distanceSlotCancello);
  outline: 1px solid red;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: var(--sizeConfig-gapCancelli);
}